@import "~font-awesome/css/font-awesome";
@import "../../../styles/Common";

.Form-input {
  position: relative;
  width: 100%;

  .input {
    background-color: transparent;
    border: 0;
    color: $OUTLINE_COLOR;
    width: 100%;

    &.focus {
      outline-width: 0;
      border-bottom: 1px solid rgb(255, 140, 0);
    }
  }

  .edit-icon-wrapper {
    position: absolute;
    top: 0.25rem;
    right: 0;
    .edit-icon {
      @extend .fa;
      @extend .fa-pencil;
      color: $OUTLINE_COLOR;
    }

    &:hover {
      cursor: pointer;
    }
  }
}