@import "../styles/Common";

.Search-page {
  @import "../../views/group/common/Input";
  @import "../../widgets/InitialsAvatar";
  @import "../../views/group/edit/styles/InitialsAvatarOverride";

  max-width: 25rem;
  margin: 2rem auto;

  border: 0.125rem solid $WHITE_70;
  border-radius: $BORDER_RADIUS;

  .row {
    margin: 0;
    padding: 0.25rem;
  }

  .header {
    background-color: $DARKER;
    .row {
      align-items: center;
    }

    .icon-container {
      font-size: 1.5rem;
      color: $WHITE_70;
      text-align: center;
    }
  }

  .results {
    padding: 0.75rem 0;
    background-color: $BACKGROUND;
    .row:first-child {
      margin: 0;
    }
    .row:last-child {
      margin: 0;
    }

    .row {
      background-color: $DARK;
      margin: 0.75rem 0;
    }

    .profile-full-name {
      color: $WHITE_90;
    }

    .profile-username {
      .profile-username-link {
        color: $WHITE_70;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}