@import "../styles/Common";

.Submit-button {
  font-weight: bold;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 2px 2px 5px;
  background-color: $ORANGE;
  padding: 0.25rem 1rem 0.25rem 1rem;
  border-radius: 15px;

  &:hover {
    cursor: pointer;
  }
}