@import "./Common";

$AUTH_PAGE_BG_COLOR: rgba(35, 35, 45, 1);

body {
  background: linear-gradient(116.025389464351deg, rgba(25, 25, 40, 1) 0%, rgba(50, 50, 60, 1) 100%);
  height: 100%;
}

html {
  height: 100%;
}

.Authentication-page {
  $border-width: 0.1rem;
  $header-height: 3.5rem;


  >.header {
    height: $header-height;
    z-index: -1;
    width: 100%;
    position: absolute;
    top: 0;
    background-color: darken($AUTH_PAGE_BG_COLOR, 2.5%);
  }

  .form-container {
    max-width: 23rem;
    margin: 0 auto;
    padding-top: $header-height - 1.5rem;

    $border-width: 0.1rem;

    border-bottom: $border-width solid $OUTLINE_COLOR;
    border-right: $border-width solid $OUTLINE_COLOR;
    border-left: $border-width solid $OUTLINE_COLOR;

    border-bottom-left-radius: $BORDER_RADIUS;
    border-bottom-right-radius: $BORDER_RADIUS;
  }

  .Auth-form {
    z-index: 2;
    .Auth-form-input {
      .label {
        background-color: $AUTH_PAGE_BG_COLOR;
      }

      .input {
        background-color: $AUTH_PAGE_BG_COLOR;
      }
    }
  }
}

