@import "../styles/Common";

.Authentication-page {
  $border-width: 0.1rem;
  $header-height: 3.5rem;


  >.header {
    height: $header-height;
    z-index: -1;
    width: 100%;
    position: absolute;
    top: 0;
    background-color: darken($PAGE_BG_COLOR, 2.5%);
    text-align: center;

    .header-image-container {
      padding-top: $header-height / 6;
      img {
        height: $header-height / 1.5;
      }
    }
  }

  .form-container {
    max-width: 23rem;
    margin: 0 auto;
    padding-top: $header-height - 1.5rem;

    $border-width: 0.1rem;

    border-bottom: $border-width solid $WHITE_70;
    border-right: $border-width solid $WHITE_70;
    border-left: $border-width solid $WHITE_70;

    border-bottom-left-radius: $BORDER_RADIUS;
    border-bottom-right-radius: $BORDER_RADIUS;
  }

  .Auth-form {
    z-index: 2;
    .Auth-form-input {
      .label {
        background-color: $PAGE_BG_COLOR;
      }

      .input {
        background-color: $PAGE_BG_COLOR;
      }
    }
  }
}

