@import "../../styles/Common";

.Group-editing-page {
  @import "tabs/info/GroupInfoTab";
  @import "tabs/members/GroupAddMembersTab";

  max-width: 25rem;
  border: 0.125rem solid $WHITE_70;
  border-radius: $BORDER_RADIUS;
  margin: 0 auto;

  .header {
    $tab-control-width: 3rem;
    position: relative;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0.5rem $tab-control-width 0.5rem $tab-control-width;

    background-color: $DARKER;

    .header-text {
      color: $ORANGE;
      text-align: center;
    }

    .previous-tab-control {
      position: absolute;
      width: $tab-control-width;
      left: $tab-control-width / 2;
      color: $WHITE_60;
      &:hover {
        cursor: pointer;
      }
    }
  }

  .body {
    padding-top: 0.25rem;
    background-color: $BACKGROUND;
    margin-left: 0.75px;
  }
}