@import "../../../pages/styles/Common";


.Input {
  $input-color: rgba(255, 255, 255, 0.8);

  background-color: transparent;
  border: 0;
  color: $input-color;
  width: 100%;
  font-weight: bold;
  padding-right: 1.5rem;

  border-bottom: 0.125rem solid $ORANGE;

  &:focus {
    outline-width: 0;
  }
}