.Group-info-tab {
  @import "../../../common/Input";
  @import "../../../../../widgets/InitialsAvatar";

  .Initials-avatar {
  }

  .row {
    background-color: rgba(45, 45, 55, 0.3);
    margin: 0.5rem 0;
    padding: 0.5rem 0;
  }

  .input-label {
    color: $TEXT_COLOR;
  }

}