.Group-info-tab {
  @import "../../../common/Input";
  @import "../../../../../widgets/InitialsAvatar";

  .group-members {
    //.members {
    //  max-height: 15rem;
    //  overflow-y: scroll;
    //}

    .actions-row {
      background-color: rgba(0, 0, 0, 0.3);
      color: $WHITE_60;
    }

    .member-details {
      .member-initials {
        .Initials-avatar {
          $width: 2.8rem;

          width: $width;
          height: $width;
          font-size: $width / 2;
          padding-top: $width / 6;
        }
      }

      .member-full-name {
        font-weight: bold;
        color: $WHITE_90;
      }

      .member-username {
        color: $WHITE_70;
        font-weight: bold;
      }
    }
  }

  .row {
    background-color: $DARK;
    margin: 0.5rem 0;
    padding: 0.5rem 0;
  }

  .input-label {
    color: $WHITE_60;
  }

}