.Dropdown {
  position: relative;
  font-size: 1.5rem;

  .toggle {
    &:hover {
      cursor: pointer;
    }
  }

  .options {
    position: absolute;
    display: none;
    $width: 5rem;
    left: -$width / 2;

    font-size: 1rem;

    &.expand {
      display: block;
      text-align: left;
      border: 0.1rem solid $WHITE_70;
      background-color: $BACKGROUND;
      z-index: 9999;
      padding: 0.2rem 0.2rem;

      .option {
        background-color: $DARK;
        margin: 0.2rem 0 0.2rem 0;
        min-width: $width;
        padding: 0.15rem;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}