.Initials-avatar.rounded-avatar {
  padding-top: 0!important;
  display: block;
  overflow: hidden;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  margin: 0 auto;
}