@import "../../../../../styles/Common";

.Chat-view-header {
  position: absolute;
  height: 3.5rem;
  width: 100%;
  top: 0;
  left: initial;
  font-size: 1.5rem;
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
  font-weight: bold;
  background-color: $BACKGROUND_DARK;
  z-index: 4;
  color: $WHITE_90;

  .row {
    display: flex;
    align-items: center;
  }
}