@import "../../../styles/Common";

.User-profile-edit-view {
  @import "form-inputs/FormInput";
  @import "../../../widgets/InitialsAvatar";
  padding-left: 1px;
  padding-bottom: 0.25rem;

  .Form-input {
    .input {
      color: $WHITE_90;
    }
  }

  .info-row {
    padding: 0.25rem;
    background-color: $DARK;
    margin-top: 0.5rem;
    margin-left: 0;
    margin-right: 0;

    .row-title {
      font-weight: bold;
      color: $WHITE_70;
    }
  }

  .align-center {
    align-items: center;
  }

  .row {
    margin-left: 0;
    margin-right: 0;
  }

  .submit-container {
    padding: 1rem 0.25rem;
    display: block;
  }

  .header {
    font-size: 1.5rem;
    padding: 0.5rem 0 0.5rem 0;
    text-align: center;
    position: relative;
    font-weight: bold;
    background-color: $DARKER;
    color: $ORANGE;
  }

  .body {
    background-color: $BACKGROUND;

    .row {
      &:first-child {
        margin-top: 0;
      }
    }
  }

}