@import "../../../../styles/Common";

.Chat-view {
  @import "../../../../widgets/InitialsAvatar";
  @import "../../../../views/group/edit/styles/InitialsAvatarOverride";
  @import "../../../../widgets/Dropdown";

  height: 100%;
  position: relative;
  $message-input-container-height: 5rem;

  .body {
    height: calc(100% - 5rem);
    @extend .scrollable;
    overflow-y: scroll;
    padding-top: 3.5rem;
    position: relative;

    .overlay {
      height: calc(100% - 5rem);
      width: 100%;
      position: absolute;
      background: rgba(0, 0, 0, 0.1);
      z-index: 9998;
    }

    .messages {
      min-height: min-content;

      display: flex;
      flex-direction: column;
      justify-content: flex-end;

    }
  }

  .message-input-container {
    position: absolute;
    height: $message-input-container-height;
    background-color: $DARKER ;
    bottom: 0;
    left: 0;
    width: 100%;
    color: $WHITE_70;
    box-sizing: border-box;
    padding: 2rem;

    .undo-edit-button-container {
      position: absolute;
      display: block;
      top: -3.5rem;
      width: 100%;
      text-align: center;

      .undo-edit-button {
        background-color: $ORANGE;
        display: inline-block;
        padding: 0.375rem 1rem;
        border-radius: $BORDER_RADIUS * 3;
        font-weight: bold;
        cursor: pointer;
        color: rgba(0, 0, 0, 0.8);
      }
    }

    .send-message-icon {
      font-size: 1.5rem;
      cursor: pointer;
    }
  }

  .send-image-overlay {
    width: 100%;
    position: absolute;
    background: rgba(0, 0, 0, 0.35);
    z-index: 9998;
    height: 100%;

    .send-image-dialog {
      background-color: $BACKGROUND;
      width: 50%;
      min-height: 40vh;
      padding: 1rem 2rem;
      margin: 15vh auto;
      border-radius: $BORDER_RADIUS;
      color: $WHITE_70;

      .image {
      }

      .caption {

      }
    }
  }
}