@import "../../styles/Common";

.Profile-editing-form {
  padding-left: 1px;

  .info-row {
    background-color: lighten($PAGE_BG_COLOR, 0.25%);
    padding: 0.25rem;
    margin-top: 0.5rem;
    margin-left: 0;
    margin-right: 0;
  }

  .row {
    margin-left: 0;
    margin-right: 0;
  }

  .submit-container {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-right: 0.25rem;
    display: block;
  }
}