@import "../../styles/Common";

.Profile-page .Profile-edit-form {
  padding-left: 1px;

  border: 0.1rem solid $OUTLINE_COLOR;
  border-radius: $BORDER_RADIUS;
  background-color: rgba(45, 45, 51, 0.3);

  .user-image-container {
    $width: 5rem;
    $font-size: $width / 2;
    
    text-align: center;
    font-size: $font-size;
    padding-top: $font-size / 4;
    background: $ORANGE;
    height: $width;
    width: $width;
    color: $TEXT_COLOR;
    border-radius: 50%;
  }


  .info-row {
    padding: 0.25rem;
    background-color: rgba(41, 41, 51, 1);
    margin-top: 0.5rem;
    margin-left: 0;
    margin-right: 0;

    .row-title {
      color: darken($TEXT_COLOR, 25%);
    }
  }

  .align-center {
    align-items: center;
  }

  .row {
    margin-left: 0;
    margin-right: 0;
  }

  .submit-container {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-right: 0.25rem;
    display: block;
  }

  .header {
    font-size: 1.5rem;
    text-align: center;
    position: relative;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.3);
    color: $ORANGE;
  }

}