@import "../../styles/Common";

#root {
  height: 100%;
}

.Main-page {
  display: flex;
  max-width: 75rem;
  margin: 0 auto;
  border-left: 0.15rem solid $WHITE_70;
  border-right: 0.15rem solid $WHITE_70;
  height: 100%;

  .left-bar {
    border-right: 0.15rem solid $WHITE_70;
    width: 30%;
    box-sizing: border-box;
    position: relative;
  }

  .right-bar {
    width: 70%;
    box-sizing: border-box;
    position: relative;
    height: 100%;
  }
}