$WHITE_60: rgba(255, 255, 255, 0.6);
$WHITE_70: rgba(255, 255, 255, 0.7);
$WHITE_90: rgba(255, 255, 255, 0.9);

$TEXT_ATTENTION: rgb(255, 140, 0);

$BACKGROUND: rgb(45, 45, 55);
$BLOCK: rgb(57, 57, 70);

$DARK: rgba(0, 0, 0, 0.1);
$DARKER: rgba(0, 0, 0, 0.3);

$BACKGROUND_DARK: rgb(21, 19, 27);
$ORANGE: #D66247;
$BORDER_RADIUS: 5px;

$PAGE_BG_COLOR: rgba(35, 35, 45, 1);

$MODAL_MAX_HEIGHT: 75vh;

.color-white-70 {
  color: $WHITE_70;
}

body {
  background: linear-gradient(116.025389464351deg, rgba(25, 25, 40, 1) 0%, rgba(50, 50, 60, 1) 100%);
  height: 100%;
}

html {
  height: 100%;
}

.c-attention {
  color: $TEXT_ATTENTION;
}

.bg-orange {
  color: $ORANGE;
}

.a-none {
  &:hover {
    color: inherit;
    text-decoration: none;
  }
  color: inherit;
}

.cursor-pointer {
  cursor: pointer;
}

.scrollable {
  &::-webkit-scrollbar {
    width: 2px;
  }

  &::-webkit-scrollbar-track {
    background: $BACKGROUND;
  }

  &::-webkit-scrollbar-thumb {
    background: #888;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

._common-header {
  font-size: 1.5rem;
  padding: 0.5rem 0 0.5rem 0;
  text-align: center;
  position: relative;
  font-weight: bold;
  background-color: $DARKER;
  color: $ORANGE;
}

.font-size-large {
 font-size: 1.25rem;
}