$AUTH_FORM_BG_COLOR: rgba(35, 35, 45, 1);
$OUTLINE_COLOR: rgb(153, 153, 153);

body {
  background: linear-gradient(116.025389464351deg, rgba(25, 25, 40, 1) 0%, rgba(50, 50, 60, 1) 100%);
}

.Auth-form {
  $border-width: 0.1rem;
  $border-radius: 5px;
  padding: 2.5rem;
  box-sizing: border-box;
  color: $OUTLINE_COLOR;

  border-bottom: $border-width solid $OUTLINE_COLOR;
  border-right: $border-width solid $OUTLINE_COLOR;
  border-left: $border-width solid $OUTLINE_COLOR;

  border-bottom-left-radius: $border-radius;
  border-bottom-right-radius: $border-radius;

  .tab-controls {
    .control {
      margin: 0 auto;
      max-width: 5rem;
      text-align: center;

      &.active {
        border-bottom: 0.25rem solid $OUTLINE_COLOR;
      }

      &:hover {
        cursor: pointer;
      }
    }
  }

  .submit-button {
    font-weight: bold;
    color: white;
    background-color: rgba(45, 45, 55, 1);
    box-shadow: rgba(0, 0, 0, 0.35) 2px 2px 5px;
    background-color: #614BF8;
    padding: 0.25rem 0.75rem 0.25rem 0.75rem;
    border-radius: 5px;
    
    &:hover {
      cursor: pointer;
    }
  }

  .tab-section {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}