@import "../../../styles/Common";

.Group-creation-form {
  @import "../../common/Input";
  @import "../../../../widgets/InitialsAvatar";

  border-radius: $BORDER_RADIUS;
  border-color: $WHITE_70;
  border-width: 0.25rem;

  .row {
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin: 0.25rem 0 0.25rem 0;
  }

  .header {
    background-color: $DARKER;
    font-size: 1.5rem;
    color: $ORANGE;
    text-align: center;
    font-weight: bold;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .body {
    .row {
      background-color: $DARK;
    }

    .input-label {
      color: $WHITE_60;
    }
  }

  .footer {

  }

  .Initials-avatar {
    $width: 4.5rem;
    background-color: $DARK;
  }
}