@import "../../../../styles/Common";

.Form-input {
  position: relative;
  width: 100%;

  .input {
    background-color: transparent;
    border: 0;
    color: $WHITE_60;
    width: 100%;
    font-weight: bold;
    padding-right: 1.5rem;

    &.focus {
      outline-width: 0;
      border-bottom: 0.1rem solid $ORANGE;
    }
  }

  .edit-icon-wrapper {
    position: absolute;
    top: 0.25rem;
    right: 0;
    font-size: 1rem;
    .edit-icon {
      color: $WHITE_70;
    }

    &:hover {
      cursor: pointer;
    }
  }
}