@import "../../../../../styles/Common";

.Group-info-tab {
  @import "../../../common/Input";
  @import "../../../../../widgets/InitialsAvatar";
  @import "../../../../../widgets/Dropdown";

  .avatar-editor {
    position: relative;

    .avatar-attachment-control {
      display: none;
      position: absolute;
      bottom: 0;
      width: 100%;
      text-align: center;
      color: $WHITE_90;
      font-size: 1.3rem;
    }

    &:hover {
      .avatar-attachment-control {
        display: block;
      }
    }
  }

  .group-members {

    .actions-row {
      background-color: $DARKER;
      color: $WHITE_60;
    }

    .member-details {
      align-items: center;

      .member-initials {
        @import "../../styles/InitialsAvatarOverride";
      }

      .member-full-name {
        font-weight: bold;
        color: $WHITE_90;
      }

      .member-username {
        .link {
          color: $WHITE_70;
          font-weight: bold;

          &:hover {
            text-decoration: none;
          }
        }
      }

      .actions-dropdown {
        color: $WHITE_70;
        text-align: center;
        top: 0;
      }
    }
  }

  .row {
    background-color: $DARK;
    margin: 0.5rem 0;
    padding: 0.5rem 0;

    &:last-child {
      margin: 0;
    }
  }

  .input-label {
    color: $WHITE_60;
  }
}