@import "../AuthForm";

.Auth-form-input {
  position: relative;
  padding-top: 1.2rem;

  $i-p-top: 0.5rem;
  $i-p-bottom: 0.25rem;
  $i-p-right: 0.25rem;
  $i-p-left: 0.5rem;

  .label {
    position: absolute;
    top: $i-p-top * 0.95;
    left: $i-p-left * 1.25;
    background-color: $AUTH_FORM_BG_COLOR;
    color: $OUTLINE_COLOR;
  }

  .input {
    width: 100%;
    box-sizing: border-box;
    padding: $i-p-top $i-p-right $i-p-bottom $i-p-left;
    border: 0.1rem solid $OUTLINE_COLOR;
    border-radius: 5px;
    color: $OUTLINE_COLOR;
    background-color: $AUTH_FORM_BG_COLOR;

    &:focus {
      outline-width: 0;
    }
  }
}